body {
  background-color: #efefef;
  margin: 1rem 0;
}

h1 {
  margin-bottom: 1rem;
  span {
    color: #4682b4;
  }
}

h3 {
  margin-bottom: 1rem;
}

p span {
  color: #96b38a;
}

section {
  margin-bottom: 2rem;
}

.reset-todo-form {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

#keycode {
  display: inline-block;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding: 0.5rem;
  min-width: 4.25rem;
  min-height: 4.25rem;
  text-align: center;
  font-size: 1.5rem;
  line-height: 3rem;
  color: #555555;
}
